
main > *{
    font-size: large;
    margin-bottom: 3em;
}
main p:nth-child(1){
    text-shadow: 0.9em 0.9em rgba(0, 0, 0, 0.464);
}
main p:nth-child(2){
    text-shadow: 0.9em 0.9em 0.2em rgba(0, 0, 0, 0.464);
}
main p:nth-child(3){
    text-shadow:0.3em 0.3em 0.2em rgba(255, 6, 6, 0.464),
                -0.3em -0.3em 0.2em rgba(64, 0, 255, 0.464);
}
main p:nth-child(4){
    text-shadow: 0.04em 0.04em 0.03em rgba(255, 255, 255, 0.416);
    color: transparent;
    background-color: rgb(185, 185, 185);
    background-clip:text;
    -webkit-background-clip: text;
}
main p:nth-child(5){
    text-shadow: 0.05em 0.05em 0.09em rgba(0, 0, 0, 0.416);
}
main p:nth-child(6){
    -webkit-text-stroke: 0.02em black;
    color: rgb(147, 147, 147);
}